.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5px;
}

.aligned-label {
    text-align: left;
    font-family: Verdana;
}

.aligned-textbox {
    text-align: left;
    margin-bottom: 0.75rem;
}
